.deps/
Makefile
aclocal.m4
autom4te.cache/
autoscan.log
config.h
config.log
config.status
configure.scan
dangling/
default.log
log
src/.deps/
src/Makefile
src/bison.c
src/bison.output
src/bison.tab.h
src/flex.c
src/ladybug
src/log
src/y.output
src/y.tab.c
stamp-h1
